{% extends 'index.html' %}


{% block head %}
<title>Donation Management</title>
{% endblock %}


{% block body %}
<div class="container px-4 py-5" id="featured-3">
    <h2 class="pb-2 border-bottom"><a href="./" class="link-underline-light text-dark">Operations on the S.O.S. Database</a></h2>
    <h4 class="py-4 ">Donation Management Module:</h4>
    <div class="card-group">
        <div class="card" style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title">Donator Information</h5>
              <p class="card-text">Information of the donating individuals.</p>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">Donator ID</li>
              <li class="list-group-item">Name</li>
              <li class="list-group-item">Surname</li>
              <li class="list-group-item">Phone</li>
            </ul>
            <div class="card-body">
              <a href="/donation/donator" class="btn btn-primary">View</a>
            </div>
          </div>
    
          <div class="card" style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title">Donation Information</h5>
              <p class="card-text">Information of the content of donation.</p>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">Donation ID</li>
              <li class="list-group-item">Donation Time</li>
              <li class="list-group-item">Donation Delivery Time</li>
              <li class="list-group-item">Request ID</li>
            </ul>
            <div class="card-body">
              <a href="/donation/donation" class="btn btn-primary">View</a>
            </div>
          </div>
    </div>
    
  </div>
{% endblock %}