{% extends 'index.html' %}


{% block head %}
<title>Performance Management</title>
{% endblock %}


{% block body %}
  <div class="container px-4 py-5" id="featured-3">
    <h2 class="pb-2 border-bottom"><a href="./" class="link-underline-light text-dark">Operations on the S.O.S. Database</a></h2>
    <h4 class="py-4 ">Performance Management Module:</h4>
    <p>
      Several days ago we felt that we can make to the deadline, but now half an hour till the deadline we realized that 
      it is not possible. Sorry about that. So here is the meme for you:
    </p>
    <img src="https://s3.memeshappen.com/memes/3568bc1ee6af387e.webp" class="rounded mx-auto d-block" alt="...">
  </div>
{% endblock %}